<!DOCTYPE html>
<html>
<head>
    <style>
        .container{
            display: grid;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>HEADER</h2>
        </div>
        <div class="menu">
            <a href="#">Link1</a>
            <a href="#">Link2</a>
        </div>
        <div class="content">
            <h3>h3</h3>
            <p>content</p>
        </div>
        <div class="footer">
            footer
        </div>
    </div>
</body>
</html>